.employee-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
  }

/* Contenido principal */
    .employee-details-content {
        display: flex;
        padding: 40px 20px;
        background-color: white;
        flex-grow: 1;
      }
    
    .employee-details-content {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 100%;
    }

  .employee-info-container {
    flex: 1;
    padding-left: 0px;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .info-field {
    flex: 0 0 45%;
  }
  
  .report-btn {
    min-width: 200px;
    flex: 1 1 200px;
    padding: 12px 50px;
    font-size: 16px;
    background-color: #2e3b7c;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
  }
  
  .report-btn:hover {
    transform: scale(1.05);
  }
